@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 735px;
        background-image: url(img/top_bacground_mobile.png);
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        &__title {
            font-size: 32px;
            line-height: 39px;
            padding-top: 238px;

        }

        &__subtitle {
            font-size: 14px;
            line-height: 22px;
            padding: 0;
        }

        &__button {
            padding: 0;
        }
    }

    .gameBox {
        height: 1221px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: 128px;

        &_image {
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 343px;
        }

        &__img1 {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/img1_mobile.jpg);
        }

        &__img2 {

            background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/img2_mobile.jpg);
        }

        &__img3 {

            background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/img3_mobile.jpg);
        }

        &__text {
            padding: 236px 240px 32px 16px;
        }
    }

    .gameStart {
        grid-template-columns: 1fr;
        row-gap: 64px;

        &__game {
            display: flex;
            gap: 32px;
            flex-direction: column;
            align-items: center;
            align-content: center;

            &_title {
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
                color: #FFFFFF;

            }

            &_info {
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
                color: #FFFFFF;
                max-width: 343px;
                text-align: center;
            }
        }
    }

    .picture {
        text-align: center;
    }

    .pictureSecond {
        grid-row: 2;
    }

    .gameRiddle {
        background-image: url(img/down_bacgroung_mobile.png);

        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__subtitle {
            font-size: 14px;
            line-height: 22px;
        }
    }

}